<div class="room">
    <div class="name">
        {$name}
    </div>
    <div class="blocks">
        {foreach $blocks as $key => $block}
            {control block-$key}
        {/foreach}
    </div>
</div>